

<h1 class="Title">Account Details</h1>

<body class="Page">
<style>
  #wrap {margin: 0px auto; position: relative; width:800px;}
  #content {position: absolute; width: 500px; top: 120px; left: 200px}
  #labels {position: absolute; width: 150px; top: 120px; left: 0px}
</style>


<div id = wrap>
<div id = labels>
  <hr width="200" size="2" color="white" align="center" noshade>
  <p>Name: </p>
  <p>Surname: </p>
  <p>Username: </p>
  <p>Password: </p>
  <p>Email: </p>
  <p>Active: </p>
  <hr width="200" size="2" color="white" align="center" noshade>
</div>
<div id = content *ngFor="let user of Users">
  <hr width="280" size="2" color="white" align="left" noshade>
    <p>{{user.Name}}</p>
    <p>{{user.Suname}}</p>
    <p>{{user.Username}}</p>
    <p>{{user.Password}}</p>
    <p>{{user.Email}}</p>
    <p>{{user.Active}}</p>
  <hr width="280" size="2" color="white" align="left" noshade>
</div>
</div>


</body>

