.Title {
  margin-top: 5px;
  padding: 5px 5px ;
  background: #3494FA;
  font-family: sans-serif;
  font-style: inherit;
  font-size: 30px;
  color: #f2f2f2;
  border-style: inset;
  border-color: black darkslategray gray whitesmoke;
  border-width: 4px;
}



.Page {
  font-family: Akzidenz-Grotesk;
  font-size: 190%;
  color: #f2f2f2;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -20px;
  background-color: #333333;
  border-style: inset;
  border-color:whitesmoke gray darkslategray black;
  border-width: 4px;
  padding-left: 300px;
}
