<div style="text-align: center;">
<div class="Form" style="display: inline-block; text-align: left;" >

<form id="Form" [formGroup]="myForm" >
  <hr>
  <label class="labels">Name of Template:</label>
 <mat-form-field class="wrap">
   <input id="Name" matInput placeholder="Name it" formControlName="NameT">
 </mat-form-field>
  <br>
<label class="labels">Select type of backup:</label>
  <mat-form-field class="wrap">
    <mat-select id="Type"  placeholder="Type" formControlName="SelectG">
      <mat-option  value="Full"> Full </mat-option>
      <mat-option  value="Diff"> Differencial </mat-option>
      <mat-option  value="Inc"> Incremental </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

    <br>
  <label class="labels">Set backup Date:</label>
  <mat-form-field class="wrap">
    <input id="schedule" matInput placeholder="Schedule" formControlName="SelectTime" >
  </mat-form-field>
<br>
  <label class="labels">Source:</label>
  <mat-form-field class="wrap">
    <input id="Source" matInput placeholder="Insert source " formControlName="Source">
  </mat-form-field>
  <label class="labels">Destination:</label>
  <mat-form-field class="wrap">
    <input id="Destination" matInput placeholder="Insert Destination " formControlName="Destination">
  </mat-form-field>
  <br>
  <label class="labels">Select save option:</label>
  <mat-form-field class="wrap">
    <mat-select id="Save"  placeholder="Select save option" formControlName="SaveT">
      <mat-option  value="RAM"> RAM </mat-option>
      <mat-option  value="Plain"> Plain </mat-option>
    </mat-select>
  </mat-form-field>
<br>

  <button class="button" type="submit" (click)="Submit()">Create Template</button>



</form>
  <hr class="Line">
