<form id="Form" [formGroup]="myForm">
  <hr>
  Name of Template:
 <mat-form-field>
   <input id="Name" matInput placeholder="Name it" formControlName="NameT">
 </mat-form-field>
  <br>
Select type of backup:
  <mat-form-field>
    <mat-select id="Type"  placeholder="Type">
      <mat-option  value="Full"> Full </mat-option>
      <mat-option  value="Diff"> Differencial </mat-option>
      <mat-option  value="Inc"> Incremental </mat-option>
    </mat-select>
  </mat-form-field>

  <br>
  Select Destination:
  <mat-form-field>
    <mat-select id="FTP"  placeholder="Destination">
      <mat-option  value="FTP"> FTP </mat-option>
      <mat-option  value="Local"> Local </mat-option>
      <mat-option  value="Network"> Network </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  Set backup Date
  <mat-form-field >
    <input id="schedule" matInput placeholder="Schedule" >
  </mat-form-field>
<br>
  Source:
  <mat-form-field>
    <input id="Source" matInput placeholder="Insert source ">
  </mat-form-field>
  <br>
  Select Destination:
  <mat-form-field>
    <mat-select id="Save"  placeholder="Select save option">
      <mat-option  value="RAM"> RAM </mat-option>
      <mat-option  value="Plain"> Plain </mat-option>
    </mat-select>
  </mat-form-field>
<br>


  <button mat-button color="primary" type="submit" (click)="Submit()">Create Template</button>

</form>
