#submit{
  background-color: #0000FF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;

  cursor: pointer;
  width: 15%;



  position: absolute;
  left: 150px;
  top: 330px;
}

#Username_Input{
  background-color: #D3D3D3;
  color: black;
  height: 5%;
  width: 15%;
  position: absolute;
  left: 150px;
  top: 150px;


}

#Password_Input{
  background-color: #D3D3D3;
  color: black;
  height: 5%;
  width: 15%;

  position: absolute;
  left: 150px;
  top: 220px;
}


