<form id="Form" [formGroup]="myForm" >


  <mat-form-field>
    <mat-select id="CID"  placeholder="Template ID" formControlName="TempID" >
      <mat-option  *ngFor="let Template of Template" value="{{Template.id}} " > {{Template.id}} </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-select id="TID"  placeholder="Computer ID" formControlName="CompID" >
      <mat-option  value="{{Computer.id}}"  *ngFor="let Computer of Computer" >   {{Computer.id}}</mat-option>
    </mat-select>
  </mat-form-field>
<br>

  <button mat-button color="primary" type="submit" (click)="Submit()">Submit </button>

</form>
